.main {
  margin          : 0 auto;
  width           : 60%;
  background-color: #232c3d;
  padding         : 5px;
  display         : flex;
  color           : white;
}

.left-tweetContents {
  flex-grow: 1;
}

.right-tweetContents {
  flex-grow     : 2;
  display       : flex;
  flex-direction: column;
}

.right-top-tweetContents {
  display        : flex;
  justify-content: space-between;
  padding        : 0 10px 0 10px;
  flex-grow      : 1;
}

.right-middle-tweetContents {
  flex-grow: 2;
  padding  : 5px;
}

.right-bottom-tweetContents {
  flex-grow      : 1;
  display        : flex;
  justify-content: space-between;
  padding        : 5px 25px 5px 25px;
}

.tweet-interact-btn {
  outline         : none;
  border          : 0;
  background-color: #232c3d;
  cursor          : pointer;
  color           : gray;
  width           : 80px;
  display         : inline-block;
}

.tweet-interact-btn i {
  width: 80px;
}

.tweet-message {
  padding: 0 5px 0 5px;
}

.tweet-avatar-container {
  padding: 10px;
}

.tweet-avatar {
  border-radius: 50%;
}

.name {
  font-weight  : "bold";
  color        : "white";
  margin-bottom: 0.5em;
  margin-right : 0.3em;
}

.handle {
  color: gray;
}

.retweet-count, .like-count {
  font-size  : 13px;
  margin-left: 6px;
  font-weight: bold;
  color      : #ffffff;
}
